$blue: #000055
$dark-blue: #00003d
$white: #ffffff
$magenta: #FF267E
$green: #05C48A
$green-hover: #05B37C
$black: #111218
$grey: #E3E3E3
$second-grey: #A1A1A1

$font-suisse-intl-semib: SuisseIntl-SemiBold, sans-serif
$font-suisse-intl-bold: SuisseIntl-Bold, sans-serif
$font-suisse-intl-med: SuisseIntl-Medium, sans-serif
$ibm-plex-bold: IBMPlexSans-Bold, sans-serif
$roboto-cond-reg: RobotoCondensed-Regular, sans-serif

body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $dark-blue
  img
    max-width: 100%
    height: auto

.hide
  display: none!important

.dark-btn
  position: fixed
  top: 0
  left: 0
  z-index: 20
  width: 50px
  height: 20px

.btn
  color: $blue
  font-size: 24px
  font-family: $font-suisse-intl-semib
  text-transform: uppercase
  text-align: center
  background: $green
  display: inline-flex
  align-items: center
  justify-content: center
  //display: none
  width: fit-content
  align-self: center
  min-width: 170px
  padding: 16px 41px 19px 41px
  border-radius: 12px
  position: relative
  z-index: 5
  transition: background .4s ease-in-out
  &::before
    content: ""
    display: block
    width: 110%
    height: 120%
    position: absolute
    top: -4px
    left: 50%
    transform: translate(-50%, 0)
    border: 2px solid rgba($green, .5)
    border-radius: 12px
    z-index: 0
    transition: border .4s ease-in-out
  &:hover
    background: $green-hover
    cursor: pointer
    &::before
      border: 2px solid rgba($green-hover, .5)
      cursor: pointer

body.light
  background: $dark-blue

.title
  text-align: center
  color: $magenta
  font-family: $ibm-plex-bold
  font-size: 64px
  position: relative
  width: 100%

.fav-page
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  background: $dark-blue
  overflow: hidden
  position: relative
.container
  display: inherit
  flex-direction: inherit
  align-items: inherit
  justify-content: inherit
  max-width: 1150px
  margin: 0 auto
  &::before
    content: ""
    display: block
    min-width: 1920px
    width: 100%
    height: 1020px
    position: absolute
    z-index: 1
    top: 0
    left: 50%
    transform: translate(-50%, 0)
    background: url("../img/promo/bg.png") no-repeat 50% 100%/cover
    @media screen and (max-width: 1050px)
      background: url("../img/promo/bg-tab.png") no-repeat 50% 100%/cover
    @media screen and (max-width: 600px)
      background: url("../img/promo/bg-mob.png") no-repeat 50% 100%/cover
  &::after
    content: ""
    display: block
    min-width: 1700px
    max-width: 1700px
    height: 880px
    position: absolute
    top: -60px
    left: 50%
    z-index: 0
    transform: translate(-50%, 0)
    background: url("../img/promo/bg-decor.png") no-repeat 0 0/contain
    @media screen and (max-width: 600px)
      background: url("../img/promo/bg-decor-mob.png") no-repeat 0 0/contain

.promo
  z-index: 2
  padding-top: 20px
  width: 100%
  min-width: 1240px
  &::before, &::after
    content: ""
    display: block
    width: 100%
    animation: fadeIn 1.2s ease-in-out
  &::before
    height: 190px
    background: url("../img/promo/top-decor.png") no-repeat 0 0/contain
  &::after
    height: 210px
    background: url("../img/promo/bottom-decor.png") no-repeat 0 0/contain
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px
  &__title
    display: flex
    flex-direction: column
    padding-bottom: 15px
    &-top
      display: flex
      align-items: center
      padding-left: 15px
      span
        color: $grey
        font-size: 82px
        line-height: 82px
        text-shadow: -4px 4px 0px rgba(206, 206, 206, 0.20)
        text-transform: uppercase
        font-family: $ibm-plex-bold
        &:nth-child(2)
          display: block
          width: 1.41em
          height: 1.41em
          background: url("../img/promo/title-aim.png") no-repeat 0 0/contain
          margin: 0 -0.1em
          z-index: 2
          transform: translate(0, 0)
          animation: aimAnim 4s linear infinite
    &-bottom
      display: flex
      align-items: center
      color: $grey
      font-family: $ibm-plex-bold
      font-size: 102px
      line-height: 102px
      margin-top: -5px
      text-shadow: -4px 4px 0px rgba(206, 206, 206, 0.20)
      &-item
        font-size: 82px
        font-family: inherit
        line-height: 82px
        text-shadow: inherit
        color: inherit
        text-transform: uppercase
        margin: auto 0 2px 0
  &__subtitle
    max-width: 570px
    align-self: flex-start
    margin: 30px 0 0 40px
    &-top
      color: $magenta
      font-family: $ibm-plex-bold
      font-size: 40px
      text-transform: uppercase
      animation: fadeInTextPromo 1.7s ease-in-out
    &-bottom
      margin-top: 90px
      font-family: $roboto-cond-reg
      font-size: 10px
      color: $second-grey
      max-width: 480px
      animation: fadeInTextPromo 2s ease-in-out
  &__btn
    display: inline-block
    background: url("../img/promo/btn-bg.png") no-repeat 0 0/cover
    background-size: 100% 100%
    font-family: $font-suisse-intl-semib
    color: $blue
    font-size: 24px
    line-height: 24px
    text-transform: uppercase
    padding: 29px 58px 45px 70px
    margin: 40px auto 0 105px
    align-self: flex-start
    transition: background .4s ease-in-out
    &:hover
      background: url("../img/promo/btn-bg-hover.png") no-repeat 0 0/cover
      background-size: 100% 100%
      cursor: pointer

.guide
  z-index: 2
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  &__title
    &::before, &::after
      content: ""
      display: block
      position: absolute
      background: url("../img/magenta-decor.png") no-repeat 0 0/contain
    &::before
      width: 202px
      height: 202px
      left: 0
      top: 0
      transform: translate(-100%, 0)
    &::after
      width: 233px
      height: 233px
      right: 0
      top: 30px
      transform: translate(100%, 0)
  &__list
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 45px
    max-width: 1150px
    width: 100%
    position: relative
    &::before, &::after
      content: ""
      display: block
      position: absolute
      background: url("../img/magenta-decor.png") no-repeat 0 0/contain
      pointer-events: none
    &::before
      width: 157px
      height: 157px
      left: 0
      bottom: 0
      transform: translate(130%, 125%)
    &::after
      width: 227px
      height: 227px
      right: 0
      bottom: 0
      transform: translate(-35%, 135%)
    &-item
      width: 350px
      height: 150px
      display: flex
      align-items: center
      position: relative
      padding: 16px 16px 30px 22px
      &:nth-child(1)
        .guide__list-item-num
          padding-right: 5px
      &::before, &::after
        content: ""
        display: block
        position: absolute
      &::before
        width: 346px
        height: 67px
        background: url("../img/guide/list-bottom.png") no-repeat 0 0/contain
        bottom: 0
        left: 0
      &::after
        width: 270px
        height: 109px
        top: 0
        right: 0
        background: url("../img/guide/list-top.png") no-repeat 0 0/contain
        @media screen and (max-width: 600px)
          background: url("../img/guide/list-top-mob.png") no-repeat 100% 0/contain
      &-num
        min-width: 110px
        max-width: 110px
        height: 105px
        color: $blue
        background: url("../img/guide/list-num.png") no-repeat 0 0/contain
        text-transform: uppercase
        font-size: 67px
        font-family: $font-suisse-intl-bold
        padding: 5px 0 0 0
        text-align: center
        margin-right: 15px
      &-text
        color: $white
        font-size: 26px
        font-family: $roboto-cond-reg
.drop
  max-width: 100%
  margin: auto
  width: 100%
  padding: 50px 10px 0 10px
  z-index: 3
  .dropdown
    outline: none!important
    cursor: pointer
    position: relative
    width: 100%
    z-index: 1
    text-align: start
    summary::-webkit-details-marker
      display: none
    > summary
      list-style: none
    summary
      padding: 26px 63px 24px 40px
      font-family: $font-suisse-intl-semib
      font-size: 20px
      line-height: 30px
      width: 100%
      outline: none!important
      border: 2px solid rgba($white, .1)
      position: relative
      display: flex
      align-items: center
      text-transform: uppercase
      user-select: none
      background: radial-gradient(71.22% 59.09% at 50% -10.39%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.10)
      border-radius: 10px
      color: $white
      ::-webkit-details-marker
        display: none
      &:after
        content: ''
        background: url("../img/drop-arrow.png") no-repeat 0 0/contain
        display: inline-block
        width: 42px
        height: 45px
        position: absolute
        right: 25px
        top: 24%
    &[open]
      summary
        &:after
          transform: rotate(180deg)
    .drop-txt
      margin-top: 5px
      overflow-wrap: break-word
      padding: 30px 43px 28px 25px
      text-align: start
      cursor: auto
      background: linear-gradient(137deg, rgba($white, 0.1) 0%, rgba($white, 0.05) 100%)
      border-radius: 10px
      border: 1px solid rgba($white, .1)
      &-list
        max-height: 500px
        overflow-y: scroll
        padding-right: 20px
        scrollbar-width: auto
        &::-webkit-scrollbar
          background: rgba($white, .3)
          width: 3px
          border-radius: 50px
        &::-webkit-scrollbar-thumb
          position: relative
          border-radius: 50px
          background: $green
      p, h2, h3, h4, h5, h6, strong, span
        margin-bottom: 10px
        font-family: $roboto-cond-reg
        display: block
        font-size: 16px
        line-height: 26px
        color: $grey
        @media screen and (max-width: 600px)
          font-size: 13px
          line-height: 20px
        &:last-child
          margin-bottom: 0
        a
          color: $green
          text-decoration: underline
          font-family: $roboto-cond-reg
          position: relative
          &:hover
            text-decoration: none
      strong
        margin-bottom: 10px
        font-size: 16px
        font-family: $roboto-cond-reg
        color: $white
        display: block
      .retreat1
        padding-left: 20px
      .retreat2
        padding-left: 30px
      .circle
        padding-left: 20px
        &:before
          content: ''
          width: 4px
          height: 4px
          background: $white
          border-radius: 50%
          display: inline-block
          margin: 0 5px 3px 0
.predict
  width: 100%
  display: flex
  flex-direction: column
  padding: 40px 0 60px 0
  position: relative
  z-index: 5
  &::before, &::after
    content: ""
    display: block
    position: absolute
    width: 750px
    height: 900px
    bottom: 0
    background: url("../img/predict/waves.png") no-repeat 0 0/contain
    z-index: 0
  &::before
    left: 0
    transform: rotate(235deg) translate(60%, -42%)
  &::after
    right: 0
    transform: rotate(-64deg) translate(51%, 49%)
  &__btn
    margin-top: 40px
  &__overlay
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 11
    background: rgba(#01013E, .8)
    display: none
    &._active
      display: block
  &__teams
    display: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 410px
    height: 525px
    background: $blue
    flex-direction: column
    padding: 20px 25px 25px 20px
    border-radius: 10px
    &::before
      content: ""
      display: block
      position: absolute
      top: 0
      right: 0
      width: 235px
      height: 67px
      background: url("../img/predict/popup-top-decor.png") no-repeat 0 0/contain
    &::after
      content: ""
      display: block
      position: absolute
      bottom: 0
      left: 0
      width: 235px
      height: 67px
      background: url("../img/predict/green-bottom-decor.png") no-repeat 0 0/contain
    &-wrap
      width: 100%
      height: 100%
      background: rgba($green, .2)
      border-radius: 10px
      padding: 23px 12px 31px 13px
    &-close
      width: 26px
      height: 26px
      background: url("../img/close.png") no-repeat 0 0/contain
      position: absolute
      top: 10px
      right: 10px
      transform: translate(100%, -100%)
      &:hover
        cursor: pointer
    &-title
      text-transform: uppercase
      color: $grey
      font-family: $font-suisse-intl-bold
      font-size: 20px
      line-height: 33px
      letter-spacing: .02em
      border-bottom: 1px solid $blue
      padding: 0 0 10px 5px
      margin-bottom: 20px
      &-score
        margin-left: auto
        font-family: inherit
        font-size: inherit
        line-height: inherit
        color: $magenta
        letter-spacing: inherit
    &-item
      font-family: $font-suisse-intl-med
      color: rgba($white, .8)
      font-size: 16px
      line-height: 19px
      letter-spacing: .03em
      padding: 4px 0 13px 18px
      position: relative
      &:hover
        cursor: pointer
      &:not(:first-child)
        margin-top: 10px
      &::before
        content: ""
        display: block
        position: absolute
        bottom: 0
        left: 0
        background: url("../img/predict/team-popup-decor.png") no-repeat 0 0/contain
        width: 100%
        height: 100%
      &::after
        content: ""
        display: block
        position: absolute
        left: -18px
        top: -6px
        height: 39px
        width: 6px
        background: $magenta
        clip-path: polygon(0% 7.3%, 0% 92.7%, 100% 100%, 100% 0%)
      .team-name
        color: $magenta
        font-size: inherit
        line-height: inherit
        letter-spacing: inherit
        font-family: inherit
        &::before
          content: ""
          display: block
          width: 30px
          height: 30px
          position: absolute
          top: 50%
          right: 5px
          transform: translate(0, -50%)
          background: url("../img/predict/plus.png") no-repeat 0 0/contain
    &._active
      display: flex
  &__container
    margin-top: 110px
    position: relative
    z-index: 1
    &::before
      content: ""
      display: block
      top: -50px
      left: 50%
      width: 1275px
      height: 800px
      transform: translate(-50%, 0)
      position: absolute
      background: url("../img/predict/predict-bg.png") no-repeat 0 0/contain
    &.stage3
      &::before
       background: url("../img/predict/predict-bg-stage3.png") no-repeat 0 0/contain
      .predict
        &__top
          justify-content: center
          gap: 60px
        &__win
          &-card
            width: 345px
            height: 235px
        &__stage
          &._lock
            .predict
              &__top
                margin: auto 0
            .predict__stage-title
              display: none
  &__tabs
    display: flex
    gap: 45px
    justify-content: center
    &-item
      display: flex
      align-items: center
      width: 256px
      height: 89px
      background: linear-gradient(0deg, rgba($magenta, .3) 0%, rgba(255, 38, 126, 0.00) 100%)
      border-radius: 0px 0px 10px 10px
      padding: 0 0 0 19px
      pointer-events: initial
      opacity: .3
      position: relative
      &::before
        content: ""
        display: block
        position: absolute
        top: -63px
        left: 50%
        transform: translate(-50%, 0)
        width: 204px
        height: 15px
        background: $magenta
        clip-path: polygon(0% 100%, 4.9% 0%, 95.1% 0%, 100% 100%)
      &::after
        content: ""
        display: block
        position: absolute
        width: 272px
        height: 110px
        bottom: -17px
        left: -17px
        background: url("../img/predict/predict-decor.png") no-repeat 0 0/contain
        @media screen and (max-width: 600px)
          background: url("../img/predict/predict-decor-mob.png") no-repeat 0 0/contain
      &:hover
        cursor: pointer
      &._active
        pointer-events: none
        opacity: 1
        &:hover
          cursor: default
    &-num
      color: $magenta
      font-family: $font-suisse-intl-bold
      font-size: 96px
    &-text
      color: $magenta
      font-family: $font-suisse-intl-bold
      font-size: 20px
      text-transform: uppercase
    &-data
      color: $grey
      font-size: 20px
      font-family: $font-suisse-intl-semib
      margin-top: 5px
    &-wrap
      display: flex
      flex-direction: column
      margin-left: 15px
  &__stage
    //display: flex
    display: none
    flex-direction: column
    align-items: center
    height: 545px
    &-title
      color: $green
      font-size: 48px
      letter-spacing: .04em
      font-family: $font-suisse-intl-bold
      text-transform: uppercase
      margin-top: 75px
      z-index: 2
    &._active
      display: flex
    &._win
      .predict__info-win
        display: flex
    &._open
      .predict__info-open
        display: flex
    &._done
      .predict
        &__win._lose, &__lose._lose
          pointer-events: none
          .predict
            &__win, &__lose
              &-loseText
                display: block
                margin-top: 10px
              &-team
                display: block
              &-title
                color: $magenta
                &::before
                  background: $magenta
              &-btn
                display: none
              &-card
                &::before
                  background: url("../img/predict/red-top-decor.png") no-repeat 0 0/contain
                  @media screen and (max-width: 600px)
                    background: url("../img/predict/red-top-decor-mob.png") no-repeat 0 0/contain
                &::after
                  background: url("../img/predict/red-bottom-decor.png") no-repeat 0 0/contain
              &-icon
                background: url("../img/predict/icon-red.png") no-repeat 0 0/contain
                width: 88px
                height: 72px
        &__win._win, &__lose._win
          pointer-events: none
          .predict
            &__win, &__lose
              &-team
                display: block
                margin-top: 10px
              &-winText
                display: block
              &-title
                color: $green
                &::before
                  background: $green
              &-card
                &::before
                  background: url("../img/predict/green-top-decor.png") no-repeat 0 0/contain
                  @media screen and (max-width: 600px)
                    background: url("../img/predict/green-top-decor-mob.png") no-repeat 0 0/contain
                &::after
                  background: url("../img/predict/green-bottom-decor.png") no-repeat 0 0/contain
              &-icon
                background: url("../img/predict/icon-green.png") no-repeat 0 0/contain
                width: 88px
                height: 72px
              &-btn
                display: none
        &__list
          &-item._win, &-item._lose
            padding-top: 22px
            height: 150px
            pointer-events: none
            .predict
              &__list
                &-item
                  &-icon
                    margin-top: 0
                    width: 61px
                    height: 50px
                  &-team
                    display: block
                  &-btn
                    display: none
          &-item._win
            .predict
              &__list
                &-winText
                  display: block
          &-item._lose
            .predict
              &__list
                &-loseText
                  display: block
        &__info
          &-done
            display: block
    &._lock
      .predict
        &__win, &__lose
          pointer-events: none
          &-card
            justify-content: center
          &-icon
            margin-bottom: 20px
            width: 145px
            height: 120px
            max-width: 100%
            max-height: 100%
          &-btn
            display: none
        &__list
          &-item
            pointer-events: none
            padding-top: 10px
            &-btn
              display: none
        &__info
          &-lock
            display: flex
            padding-bottom: 15px
    &.stage3
      .predict
        &__win
          &-icon
            max-width: 145px
            max-height: 120px
          &._select
            .predict__win-icon
              width: 104px
              height: 91px
        &__info
          &._lock
            display: none
    &._lock.stage3
      .predict
        &__win
          display: none
        &__info
          &-open
            display: flex
          &._lock
            display: flex
    &._done.stage3
      .predict
        &__win
          pointer-events: none
          &-btn
            display: none
          &-team
            display: block
            font-size: 30px
            line-height: 36px
            margin-top: 10px
        &__info
          &-open
            display: flex
          &-done
            display: none
  &__top
    width: 950px
    display: flex
    margin-top: 40px
    justify-content: space-between
  &__info
    width: 270px
    height: 270px
    background: url("../img/predict/info-bg.png") no-repeat 0 0/contain
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &-open
      display: none
      flex-direction: column
      margin: auto
      &-title
        color: $magenta
        font-size: 20px
        font-family: $font-suisse-intl-bold
        letter-spacing: .04em
        text-transform: uppercase
        max-width: 150px
        text-align: center
      &-num
        color: $magenta
        font-size: 48px
        letter-spacing: .04em
        font-family: $font-suisse-intl-bold
        text-transform: uppercase
        display: inline-flex
        align-items: center
        justify-content: center
        margin: 15px auto 0 auto
        background: $dark-blue
        border-radius: 10px
        border: 2px solid $magenta
        width: 107px
        height: 60px
        text-align: center
        padding-left: 4px
    &-done
      display: none
      margin: auto
      color: $grey
      max-width: 150px
      font-size: 20px
      letter-spacing: .04em
      font-family: $font-suisse-intl-bold
      text-align: center
      text-transform: uppercase
    &-lock
      display: none
      flex-direction: column
      align-items: center
      &-title
        color: $grey
        max-width: 150px
        font-size: 20px
        letter-spacing: .04em
        font-family: $font-suisse-intl-bold
        text-align: center
        text-transform: uppercase
      &-countdown
        display: flex
        align-items: center
        width: 170px
        justify-content: space-between
        background: $dark-blue
        border-radius: 10px
        border: 2px solid $magenta
        padding: 0 10px
        & > *
          color: $magenta
          font-size: 32px
          letter-spacing: .04em
          font-family: $font-suisse-intl-bold
          text-align: center
      &-bottom
        display: flex
        align-items: center
        width: 170px
        padding: 0 16px
        justify-content: space-between
        & > *
          color: $white
          font-size: 16px
          font-family: $font-suisse-intl-semib
          letter-spacing: .02em
          line-height: 30px
          text-transform: uppercase
    &-win
      display: none
      flex-direction: column
      align-items: center
      &-title
        font-family: $font-suisse-intl-med
        font-size: 20px
        color: $magenta
        line-height: 24px
        letter-spacing: .03em
        text-align: center
      &-subtitle
        margin-top: 20px
        color: $grey
        font-size: 20px
        letter-spacing: .04em
        font-family: $font-suisse-intl-bold
        text-transform: uppercase
        max-width: 170px
        text-align: center
  &__win, &__lose
    display: flex
    flex-direction: column
    align-items: center
    &:hover
      cursor: pointer
    &-loseText, &-winText
      display: none
      text-transform: uppercase
      color: $white
      text-align: center
      font-size: 25px
      transform: translate(0, -45%)
      font-family: $font-suisse-intl-bold
      padding: 2px 20px
      clip-path: polygon(0% 100%, 9.24% 0%, 100% 0%, 90.6% 100%)
    &-loseText
      background: $magenta
    &-winText
      background: $green
    &-icon
      background: url("../img/predict/icon-green.png") no-repeat 0 0/contain
      width: 100%
      height: 100%
      max-width: 125px
      max-height: 102px
    &-team
      display: none
      color: rgba($white, .8)
      font-size: 24px
      line-height: 29px
      font-family: $font-suisse-intl-med
      text-align: center
    &-card
      width: 295px
      height: 200px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      background: linear-gradient(0deg, rgba($green, .2) 0%, rgba(2, 94, 66, 0.00) 100%)
      border-radius: 20px
      margin-top: 30px
      padding: 10px 0
      position: relative
      &::before
        content: ""
        display: block
        position: absolute
        top: -16px
        right: -19px
        width: 238px
        height: 67px
        background: url("../img/predict/green-top-decor.png") no-repeat 0 0/contain
      &::after
        display: block
        content: ""
        width: 238px
        height: 66px
        bottom: -20px
        left: -18px
        position: absolute
        background: url("../img/predict/green-bottom-decor.png") no-repeat 0 0/contain
    &-btn
      margin-top: auto
      min-width: 56px
      min-height: 56px
      background: url("../img/predict/plus.png") no-repeat 0 0/contain
      pointer-events: none
    &-title
      font-size: 40px
      font-family: $font-suisse-intl-bold
      letter-spacing: .04em
      text-transform: uppercase
      position: relative
      display: inline-block
      color: $green
      &::before
        content: ""
        display: block
        position: absolute
        bottom: -10px
        left: 50%
        transform: translate(-50%, 0)
        width: 87px
        height: 6px
        background: $green
        clip-path: polygon(0% 100%, 4.9% 0%, 95.1% 0%, 100% 100%)
    &._select
      .predict
        &__win, &__lose
          &-title
            color: $magenta
            &::before
              background: $magenta
          &-card
            &::before
              background: url("../img/predict/red-top-decor.png") no-repeat 0 0/contain
            &::after
              background: url("../img/predict/red-bottom-decor.png") no-repeat 0 0/contain
          &-icon
            background: url("../img/predict/icon-red.png") no-repeat 0 0/contain
            width: 74px
            height: 61px
          &-team
            display: block
          &-btn
            background: url("../img/predict/close.png") no-repeat 0 0/contain
            z-index: 3
            transition: opacity .4s ease-in-out
            pointer-events: initial
            &:hover
              cursor: pointer
              opacity: .8
  &__bottom
    margin-top: 45px
    &-title
      color: $magenta
      font-size: 20px
      letter-spacing: .04em
      font-family: $font-suisse-intl-bold
      text-transform: uppercase
      margin: 0 auto
      text-align: center
  &__list
    display: flex
    align-items: center
    justify-content: center
    gap: 10px
    margin-top: 25px
    &-item
      background: linear-gradient(0deg, rgba($green, .2) 0%, rgba(2, 94, 66, 0.00) 55.56%)
      width: 140px
      height: 125px
      border-radius: 10px
      display: flex
      flex-direction: column
      position: relative
      &:hover
        cursor: pointer
      &::before
        content: ""
        display: block
        width: 120px
        height: 77px
        background: url("../img/predict/list-green-decor.png") no-repeat 0 0/contain
        position: absolute
        top: -3px
        right: -4px
      &-btn
        min-width: 40px
        min-height: 40px
        margin: auto auto 0 auto
        transform: translate(0, 50%)
        background: url("../img/predict/plus.png") no-repeat 0 0/contain
        cursor: pointer
      &-icon
        width: 81px
        height: 68px
        margin: 20px auto 0 auto
        background: url("../img/predict/icon-green.png") no-repeat 0 0/contain
      &-team
        display: none
        color: rgba($white, .8)
        font-size: 14px
        line-height: 17px
        letter-spacing: .03em
        text-align: center
        font-family: $font-suisse-intl-med
        margin-top: 12px
      &._select
        &::before
          background: url("../img/predict/list-red-decor.png") no-repeat 0 0/contain
        .predict
          &__list
            &-item
              &-icon
                width: 52px
                min-height: 42px
                margin-top: 10px
                background: url("../img/predict/icon-red.png") no-repeat 0 0/contain
              &-team
                display: block
              &-btn
                background: url("../img/predict/close.png") no-repeat 0 0/contain
                transform: translate(0, 13%)
                min-width: 43px
                min-height: 43px
                transition: opacity .4s ease-in-out
                &:hover
                  opacity: .8
    &-winText, &-loseText
      display: none
      text-transform: uppercase
      text-align: center
      color: $white
      font-size: 16px
      transform: translate(0, -45%)
      font-family: $font-suisse-intl-bold
      padding: 2px 15px
      clip-path: polygon(0% 100%, 9.24% 0%, 100% 0%, 90.6% 100%)
      width: fit-content
      margin: 0 auto
    &-loseText
      background: $magenta
    &-winText
      background: $green
  &__subtitle
    z-index: 1
    position: relative
    color: $white
    font-size: 26px
    font-family: $roboto-cond-reg
    text-align: center
    padding: 0 45px
    margin-top: 20px
    br
      display: none
.table
  width: 100%
  display: flex
  flex-direction: column
  padding-bottom: 100px
  &::before, &::after
    display: block
    max-width: 1150px
    min-width: 1150px
    content: ""
  &::before
    order: 2
    height: 202px
    background: url("../img/table/table-top.png") no-repeat 0 0/contain
    margin-bottom: -145px
  &::after
    order: 4
    height: 190px
    background: url("../img/table/table-bottom.png") no-repeat 0 0/contain
    margin-top: -200px
  &__title
    order: 1
    &::before, &::after
      content: ""
      display: block
      position: absolute
      background: url("../img/green-decor.png") no-repeat 0 0/contain
    &::before
      left: -30px
      top: 160px
      width: 202px
      height: 202px
      transform: translate(-100%, 0)
    &::after
      right: -30px
      top: 200px
      width: 230px
      height: 230px
      transform: translate(100%, 0)
  &__head
    display: flex
    width: 100%
    border-radius: 100px 100px 0px 0px
    background: linear-gradient(180deg, rgba(255, 38, 126, 0.00) 0%, rgba($magenta, .4) 100%)
    padding: 21px 0 12px 33px
    justify-content: flex-start
    &-item
      color: $magenta
      font-size: 14px
      letter-spacing: .02em
      text-transform: uppercase
      font-family: $font-suisse-intl-bold
      &:nth-child(2)
        margin-left: 40px
      &:nth-child(3)
        margin: 0 50px 0 120px
      &:nth-child(4)
        margin-right: 36px
      &:nth-child(5)
        margin-right: 38px
      &:nth-child(6)
        margin-right: auto
  &__wrap
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    max-width: 960px
    margin: 0 auto
    order: 3
    &-scroll
      display: inherit
      flex-direction: inherit
      align-items: inherit
      width: 100%
    &::after
      content: ""
      display: block
      width: 100%
      clip-path: polygon(1.46% 100%, 0% 0%, 100% 0%, 98.54% 100%)
      opacity: .4
      background: $magenta
      height: 9px
      max-width: 905px
      margin-top: 12px
    &::-webkit-scrollbar-thumb
      background: transparent
    &::-webkit-scrollbar
      background: transparent
  &__body
    max-width: 905px
    margin: 12px auto 0 auto
    width: 100%
    padding-left: 5px
    border-top: 1px solid rgba(5, 196, 138, 0.20)
    border-bottom: 1px solid rgba(5, 196, 138, 0.20)
    position: relative
    &::before, &::after
      content: ""
      display: block
      position: absolute
      background: url("../img/green-decor.png") no-repeat 0 0/contain
    &::before
      left: -110px
      bottom: -170px
      width: 157px
      height: 157px
      transform: translate(-100%, 0)
    &::after
      right: -90px
      bottom: -230px
      width: 227px
      height: 227px
      transform: translate(100%, 0)
    &-row
      display: flex
      width: 100%
      padding: 10px 0
      &:not(:last-child)
        border-bottom: 2px solid rgba(5, 196, 138, 0.20)
      &-item
        color: $white
        font-size: 16px
        font-family: $font-suisse-intl-med
        text-align: center
        width: 108px
        text-transform: uppercase
        &:nth-child(1)
          width: 45px
        &:nth-child(2)
          text-align: left
          margin-left: 45px
        &:nth-child(3)
          margin: 0 5px 0 15px
        &:nth-child(5)
          margin-left: 45px
        &:nth-child(6)
          width: 235px
          margin: 0 auto 0 80px
          text-align: left
  &__btn
    order: 4
    transform: translate(0 , 100%)
  &__scrollbar
    height: 6px
    background: rgba($green, .2)
    position: absolute
    bottom: 75px
    left: 50%
    transform: translateX(-50%)
    z-index: 2
    &-thumb
      background: $green
      height: 8px
      position: absolute
      top: 50%
      transform: translateY(-50%)
      border-radius: 5px
      &::before
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background: url("../img/table/scroll-decor.png") no-repeat 0 0/contain
        height: 6px
        width: 12px
// dark theme

body.dark
  background: $black
  .container
    &::before
      background: url("../img/promo/bg-dark.png") no-repeat 50% 100%/cover
      @media screen and (max-width: 1050px)
        background: url("../img/promo/bg-tab-dark.png") no-repeat 50% 100%/cover
      @media screen and (max-width: 600px)
        background: url("../img/promo/bg-mob-dark.png") no-repeat 50% 100%/cover
    &::after
      background: url("../img/promo/bg-decor-dark.png") no-repeat 0 0/contain
      @media screen and (max-width: 600px)
        background: url("../img/promo/bg-decor-mob-dark.png") no-repeat 0 0/contain
        z-index: 1
  .fav-page
    background: $black
  .predict
    &__container
      &.stage3
         &::before
           background: url("../img/predict/predict-bg-stage3-dark.png") no-repeat 0 0/contain
         @media screen and (max-width: 600px)
          background: url("../img/predict/predict-bg-mob-stage3-dark.png") no-repeat 0 0/contain
      &.stage3._open
        @media screen and (max-width: 600px)
          background: url("../img/predict/predict-bg-stage3-open-mob-dark.png") no-repeat 0 0/contain
      &::before
        background: url("../img/predict/predict-bg-dark.png") no-repeat 0 0/contain
      @media screen and (max-width: 600px)
        background: url("../img/predict/predict-bg-mob-dark.png") no-repeat 0 0/contain
    &__info
      background: url("../img/predict/info-bg-dark.png") no-repeat 0 0/contain
  .table
    &::before
      background: url("../img/table/table-top-dark.png") no-repeat 0 0/contain
    &::after
      background: url("../img/table/table-bottom-dark.png") no-repeat 0 0/contain
    &__wrap
      @media screen and (max-width: 600px)
        background: url("../img/table/table-bg-mob-dark.png") no-repeat 0 0/contain
        background-size: 100vw 100%

@keyframes aimAnim
  0%, 100%
    transform: translate(0, 0)
  20%
    transform: translate(6px, 10px)
  40%
      transform: translate(-15px, 12px)
  60%
      transform: translate(-7px, -19px)
  80%
      transform: translate(7px, 10px)

@keyframes fadeIn
  0%
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%)
  100%
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)

@keyframes fadeInTextPromo
  0%
    opacity: 0
    transform: translateX(-20px)
  50%
    opacity: 0
    transform: translateX(-20px)
  100%
    opacity: 1
    transform: translateX(0)