button.dark-btn dark
button.stageBtn stage1
button.stageBtn2 stage2
button.stageBtn3 stage3
.fav-page
    .container
        .promo
            .promo__wrap
                .promo__title
                    .promo__title-top(data-translate="promoTitleTop")
                        span п
                        span
                        span ціль у
                    .promo__title-bottom(data-translate="promoTitleBottom") 1 000 000 #[span.promo__title-bottom-item ₴*]
                    a(href="#" role="button" data-translate="mainBtn").promo__btn взяти участь
                    a(href="/login/" role="button" data-translate="loginBtn").promo__btn.unauth-msg.hide авторизуйся
                .promo__subtitle
                    .promo__subtitle-top(data-translate="promoSubtitleTop") Прогнозуй кіберспортивний турнір «Shanghai Major 2024»
                    .promo__subtitle-bottom(data-translate="promoSubtitleBottom").
                        *Акція "Поціль у 1 000 000 ₴" від Favbet. Загальний призовий фонд акції складається
                        з 1 000 000 електронних грошових замінників. Деталі на сайті www.favbet.ua.
                        Період дії акції – з 22.11.2024 до 15.12.2024 року.
        .guide
            .guide__title.title(data-translate="guideTitle") Як взяти участь?
            .guide__list
                .guide__list-item
                    .guide__list-item-num 1
                    .guide__list-item-text(data-translate="guideText1") Натисни кнопку «Взяти участь»
                .guide__list-item
                    .guide__list-item-num 2
                    .guide__list-item-text(data-translate="guideText2") Роби виграшні ставки на турнір «Shanghai Major 2024»
                .guide__list-item
                    .guide__list-item-num 3
                    .guide__list-item-text(data-translate="guideText3") Роби прогнози на кожен етап та помножуй вже набрані бали
        .drop
            details.dropdown
                summary(data-translate="rulesTitlePrize") розподіл призів
                .drop-txt
                    .drop-txt-list(data-translate="rulesTxtPrize")
                        p 1. Натисни кнопку «Взяти участь».
                        p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                        p 2. Роби виграшні ставки на кіберспортивний турнір «Shanghai Major 2024» .
                        p.
                            З 22 листопада до 15 грудня 2024 року роби виграшні ставки від 200 ₴ на
                             кіберспортивний турнір «Shanghai Major 2024» у розділі «Кіберспорт» або «Live»
                             та заробляй по 1 балу за кожні розраховані 200 ₴. Ставки повинні бути розраховані
                             з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій),
                              без здійснення ставок з Бонусного балансу,
        .predict
            .predict__title.title(data-translate="predictTitle") Роби прогноз
            .predict__subtitle(data-translate="predictSubtitle").type-anim.
                Роби прогнози на кожен із етапів кіберспортивного турніру
                "PGL Major Copenhagen 2024". Кожне правильне влучання - один множник.
                За правильний фінальний прогноз отримай 10 множників.
                Чим більше точних прогнозів та балів - тим вищий шанс отримати нагороду.
            .predict__container
                .predict__tabs
                    .predict__tabs-item._active
                        .predict__tabs-num 1
                        .predict__tabs-wrap
                            .predict__tabs-text(data-translate="predictStage") етап
                            .predict__tabs-data(data-translate="predictStageDate1") 10.03 - 31.03
                    .predict__tabs-item
                        .predict__tabs-num 2
                        .predict__tabs-wrap
                            .predict__tabs-text(data-translate="predictStage") етап
                            .predict__tabs-data(data-translate="predictStageDate2") 10.03 - 31.03
                    .predict__tabs-item
                        .predict__tabs-num 3
                        .predict__tabs-wrap
                            .predict__tabs-text(data-translate="predictStage") етап
                            .predict__tabs-data(data-translate="predictStageDate3") 10.03 - 31.03
                .predict__stage._active._done.stage1
                    .predict__top
                        .predict__win._lose
                            .predict__win-title(data-translate="predictWinTitle") 3 : 0
                            .predict__win-card.stage1
                                .predict__win-loseText програш
                                .predict__win-winText виграш
                                .predict__win-icon
                                .predict__win-team Команда <br> «Faze Clan»
                                .predict__win-btn.cards-btn
                        .predict__info
                            .predict__info-bg
                            .predict__info-open
                                .predict__info-open-title(data-translate="predictMultiplier") Твій Множник
                                .predict__info-open-num 1
                            .predict__info-done(data-translate="predictDone") Дивись результати етапу
                            .predict__info-lock
                                .predict__info-lock-title(data-translate="predictTimerTitle") Етап почнеться через
                                .predict__info-lock-countdown(data-target-date="2024-11-31T23:59:59")
                                    .predict__info-lock-days
                                    .predict__info-lock-hours
                                    .predict__info-lock-minutes
                                .predict__info-lock-bottom
                                    .predict__info-lock-text(data-translate="predictTimerDay") дні
                                    .predict__info-lock-text(data-translate="predictTimerHour") год.
                                    .predict__info-lock-text(data-translate="predictTimerMin") хв.
                            .predict__info-win
                                .predict__info-win-title Команда <br> «GamerLegion»
                                .predict__info-win-subtitle(data-translate="predictStage3Title") Переможець турніру
                        .predict__lose._win
                            .predict__lose-title(data-translate="predictLoseTitle") 0 : 3
                            .predict__lose-card.stage1
                                .predict__win-loseText програш
                                .predict__win-winText виграш
                                .predict__lose-icon
                                .predict__lose-team Команда <br> «Faze Clan»
                                .predict__lose-btn.cards-btn
                    .predict__bottom
                        .predict__bottom-title(data-translate="predictBottomTitle") Обери 7 команд, які пройдуть до наступного етапу
                        .predict__list(data-stage="stage1")
                            .predict__list-item._win
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «Faze Clan»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._win
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «Faze Clan»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._win
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «Faze Clan»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._win
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «Faze Clan»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._lose
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «Faze Clan»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._lose
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «Faze Clan»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._lose
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «Faze Clan»
                                .predict__list-item-btn.cards-btn
                .predict__stage._open.stage2
                    .predict__top
                        .predict__win._lose
                            .predict__win-title(data-translate="predictWinTitle") 3 : 0
                            .predict__win-card.stage2
                                .predict__win-loseText програш
                                .predict__win-winText виграш
                                .predict__win-icon
                                .predict__win-team Команда <br> «GamerLegion»
                                .predict__win-btn.cards-btn
                        .predict__info
                            .predict__info-bg
                            .predict__info-open
                                .predict__info-open-title(data-translate="predictMultiplier") Твій Множник
                                .predict__info-open-num 1
                            .predict__info-done(data-translate="predictDone") Дивись результати етапу
                            .predict__info-lock
                                .predict__info-lock-title(data-translate="predictTimerTitle") Етап почнеться через
                                .predict__info-lock-countdown(data-target-date="2024-12-31T23:59:59")
                                    .predict__info-lock-days
                                    .predict__info-lock-hours
                                    .predict__info-lock-minutes
                                .predict__info-lock-bottom
                                    .predict__info-lock-text(data-translate="predictTimerDay") дні
                                    .predict__info-lock-text(data-translate="predictTimerHour") год.
                                    .predict__info-lock-text(data-translate="predictTimerMin") хв.
                            .predict__info-win
                                .predict__info-win-title Команда <br> «GamerLegion»
                                .predict__info-win-subtitle(data-translate="predictStage3Title") Переможець турніру
                        .predict__lose._win
                            .predict__lose-title(data-translate="predictLoseTitle") 0 : 3
                            .predict__lose-card.stage2
                                .predict__win-loseText програш
                                .predict__win-winText виграш
                                .predict__lose-icon
                                .predict__lose-team Команда <br> «GamerLegion»
                                .predict__lose-btn.cards-btn
                    .predict__bottom
                        .predict__bottom-title(data-translate="predictBottomTitle") Обери 7 команд, які пройдуть до наступного етапу
                        .predict__list(data-stage="stage2")
                            .predict__list-item._win
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «GamerLegion»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._win
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «GamerLegion»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._win
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «GamerLegion»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._lose
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «GamerLegion»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._lose
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «GamerLegion»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._lose
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «GamerLegion»
                                .predict__list-item-btn.cards-btn
                            .predict__list-item._lose
                                .predict__list-loseText(data-translate="predictLoseText") програш
                                .predict__list-winText(data-translate="predictWinText") виграш
                                .predict__list-item-icon
                                .predict__list-item-team Команда <br> «GamerLegion»
                                .predict__list-item-btn.cards-btn
                .predict__stage._lock.stage3
                    .predict__stage-title(data-translate="predictStage3Title") Переможець турніру
                    .predict__top
                        .predict__win
                            .predict__win-card.stage3
                                .predict__win-icon
                                .predict__win-team Команда <br> «GamerLegion»
                                .predict__win-btn.cards-btn
                        .predict__info
                            .predict__info-bg
                            .predict__info-open
                                .predict__info-open-title(data-translate="predictMultiplier") Твій Множник
                                .predict__info-open-num 1
                            .predict__info-done(data-translate="predictDone") Дивись результати етапу
                            .predict__info-win
                                .predict__info-win-title Команда <br> «GamerLegion»
                                .predict__info-win-subtitle(data-translate="predictStage3Title") Переможець турніру
                        .predict__info._lock
                            .predict__info-bg
                            .predict__info-lock
                                .predict__info-lock-title(data-translate="predictTimerTitle") Етап почнеться через
                                .predict__info-lock-countdown(data-target-date="2025-01-31T23:59:59")
                                    .predict__info-lock-days
                                    .predict__info-lock-hours
                                    .predict__info-lock-minutes
                                .predict__info-lock-bottom
                                    .predict__info-lock-text(data-translate="predictTimerDay") дні
                                    .predict__info-lock-text(data-translate="predictTimerHour") год.
                                    .predict__info-lock-text(data-translate="predictTimerMin") хв.
            a(href="#" data-translate="playBtn").predict__btn.btn Підтвердити прогноз
            a(href="/login/" role="button" data-translate="loginBtn").predict__btn.btn.unauth-msg.hide
            .predict__overlay
                .predict__teams.stage1
                    .predict__teams-close
                    .predict__teams-wrap
                        .predict__teams-title вибери команду на #[span.predict__teams-title-score ]
                        .predict__teams-item.team Команда #[span.team-name «Faze Clan»]
                        .predict__teams-item.team Команда #[span.team-name «Sangal Esports»]
                        .predict__teams-item.team Команда #[span.team-name «FlyQuest»]
                        .predict__teams-item.team Команда #[span.team-name «Eternal Fire»]
                        .predict__teams-item.team Команда #[span.team-name «Heroic»]
                        .predict__teams-item.team Команда #[span.team-name «Ninjas in Pyjamas»]
                        .predict__teams-item.team Команда #[span.team-name «Lynn Vision»]
                        .predict__teams-item.team Команда #[span.team-name «Natus Vincere»]
                .predict__teams.stage2
                    .predict__teams-close
                    .predict__teams-wrap
                        .predict__teams-title вибери команду на #[span.predict__teams-title-score ]
                        .predict__teams-item.team Команда #[span.team-name «Team Spirit»]
                        .predict__teams-item.team Команда #[span.team-name «Wildcard»]
                        .predict__teams-item.team Команда #[span.team-name «MIBR»]
                        .predict__teams-item.team Команда #[span.team-name «9z Team»]
                        .predict__teams-item.team Команда #[span.team-name «The Mongolz»]
                        .predict__teams-item.team Команда #[span.team-name «3DMAX»]
                        .predict__teams-item.team Команда #[span.team-name «KOI»]
                        .predict__teams-item.team Команда #[span.team-name «G2 Esports»]
                .predict__teams.stage3
                    .predict__teams-close
                    .predict__teams-wrap
                        .predict__teams-title вибери команду на #[span.predict__teams-title-score ]
                        .predict__teams-item.team Команда #[span.team-name «MOUZ»]
                        .predict__teams-item.team Команда #[span.team-name «Rooster»]
                        .predict__teams-item.team Команда #[span.team-name «BIG»]
                        .predict__teams-item.team Команда #[span.team-name «Imperial Esports»]
                        .predict__teams-item.team Команда #[span.team-name «Complexity»]
                        .predict__teams-item.team Команда #[span.team-name «M80»]
                        .predict__teams-item.team Команда #[span.team-name «Fnatic»]
                        .predict__teams-item.team Команда #[span.team-name «Astralis»]
        .table
            .table__title.title(data-translate="tableTitle") Учасники
            .table__scrollbar
                .table__scrollbar-thumb
            .table__wrap
                .table__wrap-scroll
                    .table__head
                        .table__head-item(data-translate="tablePlace") Місце
                        .table__head-item(data-translate="tableId") ID
                        .table__head-item(data-translate="tableMultiplier") множник
                        .table__head-item(data-translate="tablePoints") бали
                        .table__head-item(data-translate="tableMultipoints") Бали після множника
                        .table__head-item(data-translate="tablePrize") приз*
                    .table__body
                        .table__body-row
                            .table__body-row-item 1
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 2
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 3
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 4
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 5
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 6
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 7
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 8
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 9
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
                        .table__body-row
                            .table__body-row-item 10
                            .table__body-row-item 1234567890
                            .table__body-row-item 45
                            .table__body-row-item 999
                            .table__body-row-item 99999
                            .table__body-row-item Sennheiser G4ME ZERO
            a(href="#" role="button" data-translate="mainBtn").table__btn.btn взяти участь
            a(href="/login/" role="button" data-translate="loginBtn").table__btn.btn.unauth-msg.hide
        .drop
            details.dropdown
                summary(data-translate="rulesTitle") офіційні правила акції
                .drop-txt
                    .drop-txt-list(data-translate="rulesTxt")
                        p 1. Натисни кнопку «Взяти участь».
                        p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                        p 2. Роби виграшні ставки на кіберспортивний турнір «Shanghai Major 2024» .
                        p.
                            З 22 листопада до 15 грудня 2024 року роби виграшні ставки від 200 ₴ на
                             кіберспортивний турнір «Shanghai Major 2024» у розділі «Кіберспорт» або «Live»
                             та заробляй по 1 балу за кожні розраховані 200 ₴. Ставки повинні бути розраховані
                             з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій),
                              без здійснення ставок з Бонусного балансу,